<div class="container">
    <div class="row">
        <div class="col-md-7 col-lg-7">
            <app-register></app-register>
        </div>
        <div class="col-md-5 col-lg-5">
            <app-login></app-login>
        </div>
    </div>
</div>