<div class="card">
    <h5 class="card-header">Log In</h5>
    <div class="card-body">
        <form #myform="ngForm" (ngSubmit)="login(myform)" class="form form-login">
            <div class="form-group">
                <label class="user" for="login-email"><span class="hidden">Username</span></label>
                <input name="username" id="login-email" type="email" class="form-control" placeholder="Email or Id Code"
                    required ngModel>
            </div>

            <div class="form-group">
                <label class="lock" for="login-password"><span class="hidden">Password</span></label>
                <input name="password" id="login-password" type="password" class="form-control" placeholder="Password"
                    required ngModel>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-add-car">Log In</button>
            </div>
        </form>
    </div>
</div>